@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-Bold.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-Black.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-Italic.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-MediumItalic.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-BlackItalic.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-Regular.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-Medium.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay-BoldItalic.woff2') format('woff2'),
        url('./assets/fonts/RedHatDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    display: block;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: linear-gradient(360deg, rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);
}

a {
    text-decoration: none;
    display: block;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    padding-top: 30px;
}

.nav .container {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 63px;
    height: 63px;
    margin-right: 14px;
}

.logo-text {
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    text-transform: uppercase;
    color: #035755;
}

.nav-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin-right: 40px;
    color: #035755;
    transition: 0.3s;
}

.nav-link:hover {
    color: #FA5652;
    transform: scale(1.1);
}

.nav-contact-link {
    color: #FF383D;
    border: 2px solid #FB4C47;
    padding: 16px 45px;
    border-radius: 46px;
    transition: 0.3s;
}

.nav-contact-link:hover {
    color: #035755;
    background-color: #ffbab8;
}

.alert {
    padding: 150px 0;
    background-image: url("../img/Illustration1.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top -20% right;
}

.alert .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-info, .free {
    width: 45%;
}

.alert-info {
    order: 0;
}

.free {
    order: 1;
}

.free-img {
    display: none;

}

.alert-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 122%;
    color: #FA5652;
    margin-bottom: 20px;
}

.alert-text {
    font-size: 40px;
    line-height: 60px;
    color: #035755;
}

.alert-subtext {
    margin-top: 30px;
    font-size: 21px;
    line-height: 190%;
    text-transform: capitalize;
    color: #4B4F51;
    margin-bottom: 54px;
}

.alert-link {
    width: 100%;
    padding: 24px 57px;
    background-color: #FB4C47;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: 0.3s;
}

.alert-link:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.what {
    padding-bottom: 70px;
    background-image: url("../img/bacteriaHalfRed.png"), url("../img/bacteria2.png");
    background-repeat: no-repeat;
    background-size: 100px, 150px;
    background-position: right bottom 30%, right 10% bottom;
}

.what .container {
    display: flex;
    align-items: center;
}

.what-img {
    width: 50%;
}

.what-info {
    width: 45%;
}

.what-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 124%;
    color: #FA5652;
}

.what-subtitle {
    font-size: 45px;
    line-height: 60px;
    color: #035755;
    margin-bottom: 18px;
}

.what-text {
    font-size: 16px;
    line-height: 215%;
    text-transform: capitalize;
    color: #4B4F51;
}

.what-link {
    margin: 60px 0;
    padding: 22px 50px;
    background-color: #fa5552;
    border-radius: 65px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.what-link:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.contagion {
    padding-bottom: 50px;
}

.contagion-header {
    margin: 0 auto;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contagion-title,
.do-title {
    font-weight: bold;
    font-size: 29px;
    line-height: 124%;
    text-align: center;
    color: #FA5652;
}

.contagion-subtitle,
.symptomps-subtitle,
.do-subtitle {
    font-size: 45px;
    line-height: 60px;
    color: #035755;
}

.contagion-text,
.symptomps-text,
.do-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #4B4F51;
}

.contagion-list {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contagion-item {
    cursor: pointer;
    border: 1px solid #FFFFFF;
    width: 31.5%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
    padding: 78px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 6px solid #FFFFFF;
    transition: 0.3s;
}

.addition .contagion-item__img {
    margin-top: -30px;
}

.contagion-item__img {
    margin-bottom: 62px;
}

.contagion-item__title {
    font-weight: 500;
    font-size: 27px;
    line-height: 147%;
    color: #035755;
}

.contagion-item__text {
    margin-top: 13px;
    font-size: 12px;
    line-height: 185%;
    text-align: center;
    color: #4B4F51;
}

.contagion-item:hover {
    border: 1px solid #e4e4e4;
    box-shadow: none;
    border-bottom: 6px solid #FA5652;
}

.symptomps .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sypmtomps-title {
    font-weight: bold;
    font-size: 29px;
    line-height: 124%;
    text-align: center;
    color: #FA5652;
}

.symptomps-text {
    width: 65%;

}

.do {
    background-image: url("../img/leftGray.png");
    background-repeat: no-repeat;
    background-position: left bottom -50%;
}

.do .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.do-text {
    width: 60%;
}

.do-list {
    margin: 75px 0;
}

.do-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.do-item__info,
.do-item__img {
    width: 45%;
}

.do-item__info {
    display: flex;
}

.son {
    width: 100px;
    height: 75px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffdcdb;
    font-weight: bold;
    font-size: 44px;
    line-height: 145%;
    color: #FA5652;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.do-teim__title {
    font-weight: 500;
    font-size: 47px;
    line-height: 147%;
    text-transform: capitalize;
    color: #035755;
    margin-bottom: 20px;
}

.do-item__text {
    font-size: 14px;
    line-height: 221%;
    text-transform: capitalize;
    color: #4B4F51;
}

.map .container {
    display: flex;
    justify-content: space-between;
}

.map-img {
    width: 55%;
    position: relative;
}

.mapWorld {
    width: 100%;
    height: 550px;
    /* object-fit: cover; */
}

.plus-minus {
    box-shadow: 0 0 20px #cacaca;
    position: absolute;
    top: 0;
    left: 10%;
    width: 9%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.plus-minus button {
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
}

.plus-minus button:active {
    border: 1px solid #a1a1a1;
}

.plus-minus button:focus {
    outline: none;
}

.miniLine {
    margin-bottom: 20px;
}

.map-search-button {
    box-shadow: 0 0 20px #cacaca;
    cursor: pointer;
    width: 10%;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 5%;
    border: none;
    border-radius: 10px;
    border: 1px solid #fff;
}

.map-search-button:active {
    border: 1px solid #a1a1a1;
}

.map-search-button:focus {
    outline: none;
}

.reports {
    width: 40%;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
}

.reports-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.reports-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #035755;
}

.right-left {
    background-color: #fff;
    padding: 0;
    box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
    border-radius: 5px;
}

.right-left button {
    padding: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.right-left button:focus {
    outline: none;
}

.right-left button:active {
    border: 1px solid #a1a1a1;
}

.countries-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.countries-item:last-child {
    margin-bottom: 0;
}

.countries-name {
    font-weight: 500;
    font-size: 31px;
    line-height: 37px;
    color: #13615F;
    margin-left: 20px;
    margin-right: auto;
}

.indicators {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #035755;
    margin-right: 20px;
}

.help {
    margin: 150px 0;
}

.help-title {
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #0C6C44;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.help-form {
    width: 60%;
    margin: 0 auto;
    padding: 18px;
    background-color: #fff;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
    border-radius: 57px;
}

.help-input {
    margin-left: 5%;
    width: 60%;
    font-size: 22px;
    line-height: 26px;
    border: none;
}

.help-input:focus {
    outline: none;
}

.help-input::placeholder {
    font-size: 22px;
    line-height: 26px;
    color: #758681;
}

.submit-button {
    cursor: pointer;
    border: none;
    background: #F44A45;
    border-radius: 157px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 26px 80px;
    margin-left: auto;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
}

.submit-button:focus {
    outline: none;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    align-items: center;
}

.footer-item {
    margin-right: 40px;
}

.footer-link {
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #00402E;
    transition: 0.3s;
}

.footer-link:hover {
    color: #FA5652;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-link {
    background-color: inherit;
    transition: 0.3s;
}

.social-link:hover {
    background-color: inherit;
    box-shadow: 0 0 20px #a1a1a1;
}

.social-item {
    width: 20%;
    margin-right: 40px;
}

.footer-at p {
    text-align: center;
    font-size: 23px;
    line-height: 28px;
    color: #415E56;
    margin: 63px 0;
}

.three-lines-link {
    display: none;
    width: 30px;
    margin-left: auto;
}


@media(max-width:1160px){
    .container {
        width: 1040px;
    }
}

@media(max-width:1160px){
    .contagion-item__title {
        font-size: 24px;
    }

    .reports-title {
        font-size: 30px;
    }

    .right-left {
        width: 32%;
    }

    .help-input {
        width: 50%;
        margin-right: 45px;
    }

    .help-form form {
        width: 100%;
    }

    .alert {
        background-image: none;
    }

    .free {
        width: 50%; 
    }

    .free-img {
        display: block;

    }

    .logo-icon {
        margin-right: 10px;
    }
}

@media(max-width:1060px){
    .container {
        width: 940px;
    }
}

@media(max-width:1160px){
    .help-input {
        margin-right: 20px;
    }

    .reports {
        padding: 10px;
    }

    .map-search-button {
        padding: 5px;
    }

    .contagion-item {
        width: 30%;
        padding: 10px;
    }
}

@media(max-width:960px){
    .container {
        width: 840px;
    }
}

@media(max-width:960px){
    .alert-text, .what-subtitle, .contagion-subtitle, .symptomps-subtitle, .do-subtitle, .help-title {
        font-size: 35px;
        line-height: 45px;
    }

    .do-teim__title {
        font-size: 25px;
    }

    .help-form {
        display: flex;
        flex-direction: column;
    }

    .help-input {
        padding: 20px;
        width: 100%;
        margin: 20px 0;
        font-size: 24px;
    }

    .help-input::placeholder {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        border-bottom: 1px solid #000;

    }

    .submit-button {
        margin-left: 0;
    }

    .footer-main {
        align-items: flex-start;
    }

    .social-list, .footer-list {
        flex-direction: column;
    }

    .footer-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .social-item {
        width: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

@media(max-width:860px){
    .container {
        width: 740px;
    }
}

@media(max-width:860px){
    .three-lines-link {
        display: block;
    }

    .nav-list, .nav-contact-link {
        display: none;
    }

    .map .container {
        flex-direction: column;
        align-items: center;
    }

    .map-img {
        width: 70%;
    }

    .mapWorld {
        height: auto;
        margin-bottom: 20px;
    }

    .reports {
        width: 70%;
    }

    .right-left {
        width: auto;
    }

    .contagion-item {
        width: 32%;
    }

    .alert {
        padding: 40px;
    }

    .help-form {
        width: 70%;
    }

    .alert-text, .what-subtitle, .contagion-subtitle, .symptomps-subtitle, .do-subtitle, .help-title {
        font-size: 25px;
        line-height: 35px;
    }

    .what-text, .contagion-text, .symptomps-text, .do-text {
        font-size: 14px;
    }

    .what {
        padding-bottom: 40px;
    }

    .contagion-list {
        margin-top: 40px;
    }

    .do {
        margin-top: 40px;
    }

    .son {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .do-list {
        margin-bottom: 20px;
    }

    .do-item {
        margin-bottom: 20px;
    }

    .help {
        margin: 50px;
    }

    .help-title {
        margin-bottom: 50px;
    }
}

@media(max-width:760px){
    .container {
        width: 640px;
    }
}

@media(max-width:760px){
    .alert-subtext {
        margin-top: 0;
    }

    .alert-text, .what-subtitle, .contagion-subtitle, .symptomps-subtitle, .do-subtitle, .help-title {
        font-size: 18px;
        line-height: 25px;
    }

    .alert-subtext {
        font-size: 13px;
    }

    .what-link {
        margin: 20px 0;
    }

    .alert-link {
        font-size: 21px;
    }

    .contagion-list {
        flex-direction: column;
        align-items: center;
    }

    .contagion-item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media(max-width:660px){
    .container {
        width: 540px;
    }
}

@media(max-width:660px){
    .do-item__text {
        font-size: 10px;
    }

    .plus-minus {
        display: none;
    }
}

